{% extends 'base.html.twig' %}

{% block title %}ToDoList - BTP{% endblock %}

{% block body %}
    <div class="container-fluid w-75">
        <div class="row">
    {% if projects is not empty %}
        <h1 class="text-center mb-5 mt-5 text-dark">Vos projets en cours :</h1>
            {% for project in projects %}
            <div class="card-index row col-4 col-md-3 col-lg-4 g-4 mb-5 h-auto">
                <div class="col">
                    <div class="cards">
                        <div class="card-body">
                            <h5 class="card-title text-center pb-2">{{project.ProjectName}}</h5>
                            <p class="list-group-item bg-light">Description du Projet : {{project.ProjetDescription}}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Date de création : {{project.ProjetCreation | date('d/m/Y')}}</li>
                                <li class="list-group-item">Deadline :{{project.ProjetDeadline | date('d/m/Y')}}</li>
                            </ul>
                            <div class="card-footer text-center mb-2">
                                <a href="{{ path('projectAndTask', {id: project.id}) }}" class="card-link btn btn-danger text-white mb-2 mt-2">Voir le projet</a></br>
                                <a href="{{ path('deleteProject', {id: project.id}) }}" class="card-link btn btn-danger text-white mb-2 pb-2" onclick="return confirm('Attention ! Ceci va supprimer définitivement votre projet. Cliquez sur ok pour valider')">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <h1 class="text-center mb-5 mt-5 text-dark">Vos projets archivés :</h1>
        </div>
    </div>
    {% else %}
        <h1 class="text-center my-5 text-dark">Enregistrez votre premier projet !</h1>
    {% endif %}
{% endblock %}

